@font-face {
    font-family: 'stormline_personal_use_onlyMd';
    src: url('../../../public/fonts/stormline_personal_use_only-medium-webfont.woff2') format('woff2'),
        url('../../../public/fonts/stormline_personal_use_only-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'modern_sanslight';
    src: url('../../../public/fonts/modernsans-light-webfont.woff2') format('woff2'),
        url('../../../public/fonts/modernsans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'positions_by_arixboredregular';
    src: url('../../../public/fonts/positionsbyarixbored-regular_-webfont.woff2') format('woff2'),
        url('../../../public/fonts/positionsbyarixbored-regular_-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'creamdemo';
    src: url('../../../public/fonts/cream-demo-webfont.woff2') format('woff2'),
        url('../../../public/fonts/cream-demo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'quicksandbook';
    src: url('../../../public/fonts/quicksand_book-webfont.woff2') format('woff2'),
        url('../../../public/fonts/quicksand_book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
    margin-bottom: 15px;
}

h1 {
    font-family: "stormline_personal_use_onlyMd";
}

h2 {
    font-family: 'creamdemo';
}

h3 {
    font-family: 'modern_sanslight';
}

p {
    font-family: 'quicksandbook';
}

button {
    background-color: #a5c46d; /* Green */
    border: none;
    border-radius: 15px;
    padding: 15px 15px;
    margin: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'creamdemo';
    font-size: 16px;
  }

nav {
    border-bottom: 0.75px solid black;
    margin-bottom: 10px;
}

img {
    border: 3px #1b3d2f;
    border-style: dotted dashed solid double;
}

input {
    font-family: 'quicksandbook';
}

textarea {
    font-family: 'quicksandbook';
}

span {
    font-family: 'positions_by_arixboredregular';
}

footer {
    border-top: 0.75px solid black;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.home-page {
    margin: 40px 150px;
    display: flex;
}

.home-text {
    font-size: 25px;
    width: 70%;
}

.intro {
    margin-bottom: 100px;
}

.home-img {
    height: 30%;
    width: 30%;
    margin-left: 100px;
}

.splash-img {
    height: 92%;
    width: 92%;
}

.github-icon, .linkedin-icon {
    border: none;
}
