.signUpPage {
    display: flex;
    justify-content: center;
}

.contentDiv {
    display: flex;
    align-items: center;
}

.signUpHeader {
    text-align: center;
}

.form {
    height: fit-content;
    margin-right: 50px;
}

.riverImgDiv {
    border-left: 0.75px solid black;
    padding-left: 20px;
}


.riverImg {
    height: 800px;
    margin: 20px 30px;
}
