@font-face {
    font-family: 'modern_sanslight';
    src: url('../../../public/fonts/modernsans-light-webfont.woff2') format('woff2'),
         url('../../../public/fonts/modernsans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

nav a {
    margin: 0 20px;
    font-family: 'modern_sanslight';
    font-weight: bold;
    text-decoration: none;
    align-self: center;
    color: black;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 0;
}

.navbar-session {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;
    max-height: 60px;
    width: 100%;
}

.nav-grid {
    display: flex;
    justify-content: center;
}

.demo {
    font-family: 'modern_sanslight';
    border-style: none;
    background: none;
}

#sproutcloud-logo {
    margin-right: 0;
    max-height: 50px;
    border: none;
}
