@font-face {
    font-family: 'modern_sanslight';
    src: url('../../../public/fonts/modernsans-light-webfont.woff2') format('woff2'),
         url('../../../public/fonts/modernsans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

nav a {
    margin: 0 20px;
    font-family: 'modern_sanslight';
    font-weight: bold;
    text-decoration: none;
    align-self: center;
}

nav ul {
    margin: 2px;
}

nav li {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
}

.demo {
    font-family: 'modern_sanslight';
    border-style: none;
    background: none;
}

#sproutcloud-logo {
    margin-right: 0;
    max-height: 50px;
    border: none;
}
